//desktop
@media screen and (max-width: 1200px) {
    body {
        font-size: 85%;
    }

    .about-me .text {
        max-width: 40%;
    }

    .skills {
        width: 95%;

        .text {
            margin: 3% 6% 0 4%;
        }

        .skills-container .item .item-back img {
            max-width: 60%;
        }
    }

    .projects {
        width: 95%;

        .text {
            margin: 1% 0 0 4%;
        }
    }

    .contact {
        width: 70%;

        .container .info {
            .text {
                font-size: 1.3em;
            }

            .photo {
                width: 150px;
                height: 150px;
            }
        }

        .btn {
            width: 16%;
            height: 6%;
        }
    }
}

//tablets
@media screen and (max-width: 900px) {
    body {
        font-size: 80%;
    }

    .about-me {
        .image {
            height: auto;
            margin: auto;
        }

        .line {
            min-height: 70%;
        }

        .text {
            max-width: 45%;
            margin-right: 3%;
        }
    }

    .skills {
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: 35em;

        .text {
            margin: 0;
            padding: 4%;
            white-space: normal;
        }

        .skills-container {
            margin: 0;
            padding-bottom: 5%;
            width: 100%;
            max-width: 90%;
        }
    }

    .projects {
        width: 100%;
        flex-direction: column;

        .projects-grid {
            order: 2;
            margin: 0;
            padding: 2%;
            width: 92%;
            height: 75%;

            .navigation {
                bottom: -5%;
            }
        }

        .text {
            order: 1;
            white-space: normal;
            margin: 0;
            padding: 3%;
            text-align: center;
        }
    }

    .contact {
        width: 80%;
        padding-bottom: 5%;

        .container {
            height: 70%;

            .info {
                .text {
                    font-size: 1.2em;
                }

                .photo {
                    width: 140px;
                    height: 140px;
                }
            }
        }
    }
}


//phones
@media screen and (max-width: 600px) {
    body {
        font-size: 75%;
    }

    .menu {
        flex-direction: column;
        height: 11em;
        gap: 8px;
    }

    .home .content {
        font-size: 1.7em;

        .media {
            width: 80%;

            img {
                width: 25px;
                height: auto;
            }
        }
    }

    .about-me {
        flex-direction: column;
        margin: 5% 0;
        height: 40em;

        .image {
            order: 3;
            width: 45%;
            margin: 5% 0;
        }

        .line {
            order: 2;
            min-height: 0;
            border-left: none;
            border-bottom: $main-font-color 3px solid;
            width: 60%;
        }

        .text {
            order: 1;
            max-width: 80%;
            margin: auto;
            margin-bottom: 5%;
        }
    }

    .skills {
        height: 50em;

        .skills-container {
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 10%;

            .item .item-back img {
                width: 40%;
                height: auto;
            }
        }
    }

    .projects {
        .text {
            padding: 4%;
        }

        .projects-list .project .description a img {
            width: 80%;
            height: auto;
        }
    }

    .contact {
        height: 55em;
        position: relative;

        .container {
            flex-direction: column;
            align-items: center;
            height: 58%;
            padding: 0;
            height: auto;

            .info {
                order: 2;
                justify-content: center;
                width: 100%;
                min-height: 50%;
            }

            .form {
                order: 1;
                width: 90%;
                margin: auto;
                margin: 5% 0;

                .form-input {
                    height: 15%;
                }

                .form-input,
                .form-textarea {
                    margin: 5px 0;
                }
            }
        }

        .btn {
            margin-right: 5%;
            position: absolute;
            top: 54%;
            width: 18%;
            height: 4%;
        }
    }
}